# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
.venv/
venv/

# Banco local
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.*

# React / Node
frontend/node_modules/
frontend/dist/

# Editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Cache e testes
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log